<!DOCTYPE html>
<html>
<head>
  <title>Inventory</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "inventory/application", media: "all" %>
  <%= javascript_include_tag "inventory/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
